* {
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
  color: white;
  background: url(images/mountains.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 1.3em;
}

h1 {
  font-size: 5em;
  color: #012638;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: auto;
  position: relative;
  bottom: 3.5em;
  transform: scale(1);
}

.gradient-circle {
  background: conic-gradient(
    #ca3559 0%,
    #950f35 40%,
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 60%,
    #950f35 60%,
    #ca3559 100%
  );
  height: 320px;
  width: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}

.circle {
  background-color: #012638;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50%;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
}

.pointer {
  background-color: #f8d769;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
}
.pointer {
  background-color: #f8d769;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  box-shadow: 0 0 1px 1px orange, 0 0 2px 2px gold;
}

.pointer-container {
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}
